[Unit]
Description=SecretVM docker compose startup service
Requires=secret-vm-startup.service
After=secret-vm-startup.service

[Service]
ExecStart=/usr/bin/docker compose up
WorkingDirectory=/mnt/secure/docker_wd
Restart=no

[Install]
WantedBy=multi-user.target
