[Unit]
Description=SecretVM startup script
After=network.target secret-vm-network-setup.service
Requires=network.target secret-vm-network-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/secret-vm-start.sh
Restart=no

[Install]
WantedBy=multi-user.target
