[Unit]
Description=SecretVM startup script
After=network.target
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/secret-vm-start.sh
Restart=no

[Install]
WantedBy=multi-user.target
