[Unit]
Description=SecretVM Attestation REST API Service
Requires=secret-vm-startup.service
After=network.target secret-vm-startup.service

[Service]
Type=simple
# Wait for certificate file to exist before starting the service
ExecStartPre=/bin/bash -c 'until [ -f /mnt/secure/cert/secret_vm_fullchain.pem ]; do echo "Waiting for certificate file..."; sleep 5; done'
ExecStart=/usr/bin/secret-vm-attest-rest-server
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=secret_vm_attest_rest
# Environment variables
Environment="SECRETVM_REST_SERVER_IP=0.0.0.0"
Environment="SECRETVM_SECURE=true"
Environment="SECRETVM_REST_SERVER_PORT=29343"
Environment="SECRETVM_CERT_PATH=/mnt/secure/cert/secret_vm_cert.pem"
Environment="SECRETVM_KEY_PATH=/mnt/secure/cert/secret_vm_private.pem"
Environment="SECRETVM_ATTEST_TIMEOUT_SEC=10"
Environment="SECRETVM_REPORT_DIR=/mnt/secure"
# Hardening options
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
