[Unit]
Description=Secret TEE startup script
After=network.target nss-user-lookup.target

[Service]
ExecStart=/etc/secretvm/secret-vm-start.sh
WorkingDirectory=/etc/secretvm
User=secretvm
Group=secretvm
Restart=no

[Install]
WantedBy=multi-user.target

